/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}



.cardbox {
  border-color: red;
  border-width: 1px;
  background-color: lightblue;
  border-style: solid;
  max-width: 250px;
}

table { 
  table-layout:fixed;
  width:500px;
}

/* table { 
  table-layout:fixed;
  width:500px;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  -khtml-border-radius: 10px;
} */

/* table {
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0;
  border: 3px solid black;
  border-radius: 7px;
  -moz-border-radius: 7px;
  padding: 0px;
} */
/* table, td {
  border: 1px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 0px;
} */

tr {
  vertical-align: top;

}