/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}



.cardbox {
  border-color: red;
  border-width: 1px;
  background-color: lightblue;
  border-style: solid;
  max-width: 250px;
}

table { 
  table-layout:fixed; width:500px;
}

tr {
  vertical-align: top;
}