/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}


.cardbox {
  border-color: red;
  border-width: 1px;
  background-color: lightblue;
  border-style: solid;
  max-width: 220px;
}



h1 {
  font-style: italic;
  color: #373fff;
}


.app-body{
  width: 100%;
  padding: 0;
  margin: 0%;
}

.wrapper{
  border: 2px solid green;
  width: 100%;
  padding: 0;
  margin: 0%;
  float : left;
  clear : left;

}

.navbar{
  border: 1px solid blue;
}

.deck-manager{
  border: 1px solid purple;
}


.warband-browser{
  border: 1px solid red;
  float: left;
  clear : left;
  width:470px;
}

.warband-browser-hidden{
  border: 1px solid red;
  float: left;
  height: 100%;
}

.attacktable{
  border: 1px solid green;
  table-layout:fixed;
  width:220px;
}

.fightertable{
  border: 3px solid royalblue;
  table-layout:fixed;
  width: 450px;
  border-collapse:collapse;
}

table td{
  /* border:1px solid #FF0000; */
  vertical-align: top;
  }

.card-browser{
  border: 1px solid;
  border-color: violet;
  height: 100%;
  float : left;
}