doctype html
html(lang="en")
  head
    title= "Hello!"
    meta(charset = "utf-8")
    script(src='lib/jquery-3.3.1.min.js' defer).
    script(src='lib/knockout-3.4.2.js' defer).
    script(src='js/yawb.min.js' defer).
    link(rel='stylesheet' href = 'css/style.css').
  body
    |
    |
    |
    div.wrapper
      div.navbar
        ul
          li.dropdown
            a(href = 'javascript:void(0)').dropbtn
              span(data-bind="text : selectedWarband() ? selectedWarband().name : 'Select Warband'")
            div.dropdown-content
              table.warband-table
                tbody(data-bind="foreach: ShadespireWarbands('Shadespire')")
                  tr
                    td
                      div(data-bind="click : $root.selectWarband.bind($data, $data.name)")
                        strong(data-bind="text: $data.name")
                table.warband-table
                tbody(data-bind="foreach: ShadespireWarbands('Nightvault')")
                  tr
                    td
                      div(data-bind="click : $root.selectWarband.bind($data, $data.name)")
                        strong(data-bind="text: $data.name")
          li
            a(href = "#Login")
              p Login!
    |
    |
    |
    div.deck-manager
      span(data-bind = "if : selectedWarband")
        strong(data-bind = "text: selectedWarband().name + ':'")
      input(type = "text", data-bind = "value : deckname")
      span :
      select
        option(value = "competitive") Competitive
        option(value = "free") Free
      div
        button(type = "button" data-bind = "visible : logginedIn") Save
        button(type = "button" data-bind = "visible : logginedIn") Save as
        button(type = "button" data-bind = "visible : logginedIn") Delete
        button(type = "button" data-bind = "visible : logginedIn") Load Warband
        button(type = "button") New Deck
        button(type = "button" data-bind = "click:  $root.cardViewButton.bind($data)") Card View
        button(type = "button" data-bind = "click:  $root.deckViewButton.bind($data)") Deck View
      div
        button(data-bind = "click: viewWarband, text : showWarbandBrowser() ? 'Hide Warband View' : 'Show Warband View")