doctype html
html(lang="en")
  head
    title= "Hello!"
    meta(charset = "utf-8")
    script(src='lib/jquery-3.3.1.min.js' defer).
    script(src='lib/knockout-3.4.2.js' defer).
    script(src='js/yawb.js' defer).
    link(rel='stylesheet' href = 'css/style.css').
  body.app-body
    |
    |
    |
    div.wrapper
      div.navbar
        ul
          li.dropdown
            a(href = 'javascript:void(0)').dropbtn
              span(data-bind="text : selectedWarband() ? selectedWarband().name : 'Select Warband'")
            div.dropdown-content
              table.warband-table
                tbody(data-bind="foreach: getWarbandsInSet('Shadespire')")
                  tr
                    td
                      div(data-bind="click : $root.selectWarband.bind($data, $data.name)").cardbox
                        strong(data-bind="text: $data.name")
              table
                tbody(data-bind="foreach: getWarbandsInSet('Nightvault')")
                  tr
                    td
                      div(data-bind="click : $root.selectWarband.bind($data, $data.name)").cardbox
                        strong(data-bind="text: $data.name")
    |
    |
    |
    //- Deck Manager
    div.deck-manager
      input(type = "text", data-bind = "value : deckName")
      //- span :
      //- select
      //-   option(value = "competitive") Competitive
      //-   option(value = "free") Free
      div
        button(data-bind = "click: viewWarband, text : showWarbandBrowser() ? 'Hide Warband View' : 'Show Warband View'")
        button(type = "button" data-bind = "click:  $root.changeCardViewButton.bind($data), text: showCardView() ? 'Deck View' : 'Card View'")
        
    |
    |
    //- Warband Browser
    div(data-bind="visible: showWarbandBrowser, if: showWarbandBrowser").warband-browser
      |
      |
      |
      //- Fighter Selector
      table(data-bind="if : selectedWarband")
        thead
          tr
            th Fighter
        tbody(data-bind="foreach: computedFighters")
          tr 
            td
              div(data-bind="event : {mouseover : $root.selectFighter($data)}").cardbox
                strong(data-bind="text: $data.captain ? 'Cap: ' : ''")
                strong(data-bind="text: $data.name")
      |
      |
      |
      //- Fighter Viewer
      div(data-bind =  "if: selectedFighter()")
        span(data-bind='text: selectedFighter().name')
      table.fightertable(data-bind='if : selectedWarband()')
        tbody
          //- Empty Column
          tr
            td
            td
          tr(data-bind='if : (selectedFighter().magic || selectedFighter().inspiredVersion ? true : false) && selectedFighter().inspiredVersion.magic')
            td
              div(data-bind='if: selectedFighter().magic')
                strong Magic: 
                span(data-bind='text:  selectedFighter().magic')
            td
              div(data-bind='if: selectedFighter().inspiredVersion.magic')
                strong Magic: 
                span(data-bind='text:  selectedFighter().inspiredVersion.magic')
          |
          |
          |
          //- Fighter characteristics
          tr
            td.fighter-char-div
              span
                i.icon-range
                span(data-bind='text:selectedFighter().movement')
              span.margin-left
                span(data-bind='html: selectedFighter().defence.char')
                span(data-bind='text:selectedFighter().defence.value')
              span.margin-left
                i.icon-wound
                span(data-bind='text:selectedFighter().wounds')
            td.fighter-char-div(data-bind='if: $root.selectedFighter().inspiredVersion')
              span
                i.icon-range
                span(data-bind='text:selectedFighter().inspiredVersion.movement')
              span.margin-left
                span(data-bind='html: selectedFighter().inspiredVersion.defence.char')
                span(data-bind='text:selectedFighter().inspiredVersion.defence.value')
              span.margin-left
                i.icon-wound
                span(data-bind='text:selectedFighter().inspiredVersion.wounds')
          |
          |
          |
          //- Attack characteristics
          tr
            td
              table.attacktable
                tbody(data-bind='foreach: selectedFighter().attacks')
                  tr
                    td
                      div(data-bind='text: name').attack-title
                      div.fighter-char-div
                        span
                          i.icon-range
                          span(data-bind='text : range')
                        span.margin-left
                          span(data-bind='html: char')
                          span(data-bind='text:value')
                        span.margin-left
                          i.icon-damage
                          span(data-bind='text : dmg')
                      div(data-bind = "if : $data.text").attack-keyboard
                        span(data-bind = "text : $data.text")
            td(data-bind='if : $root.selectedFighter().inspiredVersion')
              table.attacktable
                tbody(data-bind='foreach:  selectedFighter().inspiredVersion.attacks')
                  tr
                    td
                      div(data-bind='text: name').attack-title
                      div.fighter-char-div
                        span
                          i.icon-range
                          span(data-bind='text : range')
                        span.margin-left
                          span(data-bind='html: char')
                          span(data-bind='text: value')
                        span.margin-left
                          i.icon-damage
                          span(data-bind='text : dmg')
                      div(data-bind = "if : $data.text").attack-keyboard
                        span(data-bind = "text : $data.text")
          tr
            td
              table.attacktable(data-bind='if: selectedFighter().magic, visible: selectedFighter().magic')
                tbody(data-bind='foreach: selectedFighter().spells')
                  tr
                    td
                      div(data-bind='text: name')
                      span.testclass
                        b.icon-range : 
                        span(data-bind='text : range')  
                        b.icon-damage : 
                        span(data-bind='text : dmg')  
            td(data-bind='if : $root.selectedFighter().inspiredVersion')
              table.attacktable(data-bind='if: selectedFighter().inspiredVersion.magic, visible: selectedFighter().inspiredVersion.magic')
                tbody(data-bind='foreach: selectedFighter().inspiredVersion.spells')
                  tr
                    td
                      div(data-bind='text: name')
                      span.testclass
                        b.icon-range : 
                        span(data-bind='text : range')  
                        b.icon-damage : 
                        span(data-bind='text : dmg')  
          tr
            td
              div
                span(data-bind='html:  selectedFighter().text')  
              div(data-bind='if : $root.selectedFighter().inspiredVersion')
                strong
                  | Inspire condition:
                span(data-bind='html:  selectedFighter().inspire_cond')
            td(data-bind='if : $root.selectedFighter().inspiredVersion')
              span(data-bind='html:  selectedFighter().inspiredVersion.text')  
    |
    |
    |
    //- Card Browser
    div(data-bind='if: showCardView, visible: showCardView').card-browser
      div.objective-pile
        div(data-bind="if : $data.selectedWarband()")
          input(type='checkbox', data-bind="checked: objWarbandCheck")
          span(data-bind = "text: selectedWarband().name")
        input(type='checkbox', data-bind="checked: objUniversalCheck")
        | Universal
        br
        br
        form
          input(type = "radio" name = "scoringPhase" value = 0)
          | Any
          br
          input(type = "radio" name = "scoringPhase" value = 1)
          | Immediate
          br
          input(type = "radio" name = "scoringPhase" value = 2)
          | End phase
          br
          input(type = "radio" name = "scoringPhase" value = 3)
          | Third end phase
          br
        //- input(type='checkbox', data-bind="checked: objImmediateCheck")
        //- | Immediate
        //- br
        //- input(type='checkbox', data-bind="checked: objEndPhaseCheck")
        //- | End phase
        //- br
        //- input(type='checkbox', data-bind="checked: objThirdPhaseCheck")
        //- | Third Phase
        //- br
        table
          tbody(data-bind="foreach: filteredObjectives")
            tr 
              td
                div.card-box-wrapper
                  div.center-title
                    strong(data-bind="text: $data.name")
      div.gambit-pile
        table
          tbody(data-bind="foreach: allGambits")
            tr 
              td
                div.card-box-wrapper
                  div.center-title
                    strong(data-bind="text: $data.name")
      div.upgrade-pile
        table
          tbody(data-bind="foreach: allUpgrades")
            tr 
              td
                div.card-box-wrapper
                  div.center-title
                    strong(data-bind="text: $data.name")
    |
    |
    |
    //- Deck Browser
    div(data-bind='if: showCardView() == false, visible: showCardView() == false').card-browser
      | Deck View
